<div class="container-fluid text-center">
  
  <form #TodoForm="ngForm" (ngSubmit)="addTodo(TodoForm.value)">
    <input
      class="w-25"
      type="text"
      name="todo"
      [(ngModel)]="todoInput"
      placacdeholder="Enter your todo"
    />
    <button class="btn btn-secondarys mb-2 mt-1 text-center" style="border-radius: 0%; height:30px">Submit</button>
  </form>
  <div class="d-flex flex-direction-row justify-content-center container-fluid text-center mt-2">
    <div class="d-flex list-group-item  justify-content-space-between  bg-dark " style="width:499px;">
      <li class="list-group-item me-1 bg-dark text-white" style="width: 250px; border:none;">Work To Do</li>
      <li class="list-group-item me-1 bg-dark text-white" style="width: 250px; border:none;">Date</li>
    
    </div>
  </div>
<div *ngIf="values.length>0;else noTodo">
  <div
    class="d-flex flex-direction-row justify-content-center container-fluid text-center w-500 mt-2"
    *ngFor="let item of values; let i = index"
  >
   <div class="d-flex list-group-item justify-content-space-between ps-4 bg-secondary">
    <li class="list-group-item me-1 bg-secondary text-white" style="width: 250px; border:none;">{{ item.todo}}</li>
    <li class="list-group-item ms-2 bg-secondary text-white" style="width:150px;border:none;"> {{item.date}}</li>
   </div>
    <button class="btn btn-secondary border-none" style="border-radius: 0%;" (click)="deleteTodo(i, item.todo)">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
      </svg>
    
    </button>

    
  </div>
</div>
<ng-template #noTodo>
    <div class="container d-flex justify-content-center align-items-center any2">
      <img src="https://static.vecteezy.com/system/resources/thumbnails/002/567/828/small_2x/ghost-character-funny-line-style-icon-free-vector.jpg" alt="">
        <p class="text-secondary any">You don’t seem to have any data here. </p>
    </div>
</ng-template>
</div>
